/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test,<conda/docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 8
  max_memory = 60.GB
  max_time = 24.h

  // Input data
//  single_end = true
//  readPaths = [
//    ['subset_1', ['https://zenodo.org/record/557099/files/subset_1.fastq']],
//    ['subset_2', ['https://zenodo.org/record/557099/files/subset_2.fastq']]
  ]
  // Genome references
//  fasta = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
//  fasta_index = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai'
}
